:root {
	--main-title-color: #DCD8D6;
	--main-title-bg-color: #6B5A52;
	--main-strong-color: #EFA249;
	--main-title-color: #EFA249;
	--main-services-bg-color: #6B5A52;
	--main-services-border-color: #DCD8D6;
	--main-services-color: #FFF;
	--main-submit-hover-bg-color: #4F3928;
	--main-submit-hover-color: #DCD8D6;
	--main-submit-border-color: #EFA249;
	--main-contact-form-message-color: #DCD8D6;
	--main-about-me-color: #6B5A52;
	--main-about-me-text-color: #FFF;
	--main-nav-color: #6B5A52;
	--main-nav-links-color: #000;
	--main-hamburger-color: #EFA249;
	--main-logo-color: #DCD8D6;
	--main-nav-links-hover-color: #DCD8D6;
	--main-operating-hours-border: #DCD8D6;
	--main-footer-text-color: #DCD8D6;
	--main-horizontal-line-color: #DCD8D6;
	--main-footer-icon-color: #DCD8D6;
	--main-footer-bg-color: #6B5A52;
	--main-form-container-bg-color: #6B5A52;
	--main-hamburger-icon-bg-color: #4F3928;
	--main-form-fields-color: #000;
	--main-form-fields-border-color: #DCD8D6;
	--main-submit-button-bg-color: #6B5A52;
	--main-submit-button-color: #DCD8D6;
	--main-pageup-icon-color: #DCD8D6;
	--mian-mobile-nav-bg-color: #000;
	--mian-mobile-nav-bg-hover-color: #6B5A52;
	--main-mobile-footer-border-color: #DCD8D6;
	--main-mobile-nav-links-border-color: #DCD8D6;
	--main-mobile-nav-links-color: #DCD8D6;
	--main-box-shadow-color: #DCD8D6;
	--main-char-count-color: #DCD8D6;
}

.colors {
	color: #E8D29C;
	color: #4F3928;
	color: #6B5A52;
	color: #EFA249;
	color: #DCD8D6;
}
body {
	background-color: #4F3928;
}

header {
	position: relative;
	padding: 0px;

}

nav {
	position: relative;
	float: left;
	width: 100%;
	padding: 1px;
	background-color: var(--main-nav-color);
	margin-top: 0px;
	margin-bottom: 0px;
	height: 70px;
	z-index: 10;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav ul li h2 {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 10px;
	display: inline;
	font-family: Raleway;
}

.hamburgerIcon {
	position: absolute;
	right: 20px;
	top: 0px;
	color: var(--main-hamburger-color);
	display: none;
}

.logo {
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: 100;
	border: none;
	color: var(--main-logo-color);
}

.logo img {
	height: 50px;
	width: auto;
}

nav ul li{
	margin-top: 10px;
	display: inline;
}

nav ul li a {
	font-family: Raleway;
	text-decoration: none;
	color: var(--main-nav-links-color);
	height: 70px;
	padding: 20px;
}

nav ul li a:hover {
	color: var(--main-nav-links-hover-color);
}

.blogTitle {
	color: #EFA249;
	font-family: Raleway;
}
label {
	color: white;
	text-shadow: 2px 2px 3px #000;
}

.formContainer {
	width: 80%;
	margin: auto;
}

.imgInput {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}
.inlineImageForm {
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 20px;
	padding: 30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.imageFiles {
	float: right;
	overflow-y:auto;
	position: relative;
	background-color: #6B5A52;
	border-radius: 10px;
	padding: 10px;
	height: 125px;
	width: 400px;
}
.thumbnail {
	float: right;
}
.imageFilesTitle {
	text-align: right;
	text-shadow: 2px 2px 3px black;
}

.subTitle {
	text-align: right;
	text-shadow: 2px 2px 3px black;
}

.fileName {
	/*color: white;*/
	height: 100px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Raleway;
	text-shadow: 2px 2px 3px black;
	padding: 20px 10px 0px 10px;
}

.fileName:hover {
	background-color: #4F3928;
}

.blogPostForm {
	position: relative;
	background-color: rgba(255, 255, 255, 0.05);
	margin-bottom: 100px;
	padding: 30px;
	/*-webkit-border-radius:10px;*/
	/*-moz-border-radius:10px;*/
	/*border-radius:10px;*/
}

label[for='imageToUpload'] {
	margin-top: 50px;
}

.blogTitle {
	text-align: center;
}

.imageUpload {
	/*display: block;*/
	width: 80%;
	margin: 20px auto;
	color: white;
}

.image-btn {
	margin: 20px auto;
}

.imageLocation {
	text-align: center;
	color: white;
}
.errorMessage {
	text-align: center;
	color: white;
}

.btn {
	font-size: 20px;
	font-family: Raleway;
}

.postSubmit {
	position: absolute;
	border: 3px solid #4F3928 !important;
	background-color: #EFA249;
	font-size: 20px;
	right: 20px;
	bottom: 20px;
	font-family: Raleway;
	color: #4F3928;
	height: 140px;
	border-radius: 50%;

}

.postSubmit:hover {
	background-color: #4F3928;
	color: #EFA249;
	border: 3px solid #EFA249 !important;
	transition: color 1s ease;
	transition: background-color 1s ease;
}

.inlineImageInputGroup {
	display: inline-block;
	position: relative;
	border: 1px solid #FFF;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) and (max-width: 992px) {
	.hamburgerIcon:first-child {
		margin-top: 0px;
	}

	.hamburgerIcon {
		margin-top: 5px;
		display: block;
		padding: 5px;
		background-color: var(--main-hamburger-icon-bg-color);
		border-radius: 5px;
	}

	.hamburgerIcon i {
		font-size: 50px;
	}

	nav ul{
		position: relative;
		display: block;
		overflow: hidden;
		background-color: var(--mian-mobile-nav-bg-color);
		margin-top: 60px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}

	.hideNav {
		display: none;
		opacity: 0;
	}

	.showNav {
		display: block;
		right: 0;
		animation: slide-down 0.4s ease;
	}

	nav ul li a {
		display: inline-block;
		width: 100%;
		font-size: 1.5em;
		border-top: 1px solid var(--main-mobile-nav-links-border-color);
		color: var(--main-mobile-nav-links-color);
	}

	nav ul li a:hover {
		background-color: var(--mian-mobile-nav-bg-hover-color);
	}

}