:root {
    --main-title-color: #DCD8D6;
    --main-title-bg-color: #6B5A52;
    --main-strong-color: #EFA249;
    --main-title-color: #EFA249;
    --main-services-bg-color: #6B5A52;
    --main-services-border-color: #DCD8D6;
    --main-services-color: #FFF;
    --main-submit-hover-bg-color: #4F3928;
    --main-submit-hover-color: #DCD8D6;
    --main-submit-border-color: #EFA249;
    --main-contact-form-message-color: #DCD8D6;
    --main-about-me-color: #6B5A52;
    --main-about-me-text-color: #FFF;
    --main-nav-color: #6B5A52;
    --main-nav-links-color: #000;
    --main-hamburger-color: #EFA249;
    --main-logo-color: #DCD8D6;
    --main-nav-links-hover-color: #DCD8D6;
    --main-operating-hours-border: #DCD8D6;
    --main-footer-text-color: #DCD8D6;
    --main-horizontal-line-color: #DCD8D6;
    --main-footer-icon-color: #DCD8D6;
    --main-footer-bg-color: #6B5A52;
    --main-form-container-bg-color: #6B5A52;
    --main-hamburger-icon-bg-color: #4F3928;
    --main-form-fields-color: #000;
    --main-form-fields-border-color: #DCD8D6;
    --main-submit-button-bg-color: #6B5A52;
    --main-submit-button-color: #DCD8D6;
    --main-pageup-icon-color: #DCD8D6;
    --mian-mobile-nav-bg-color: #000;
    --mian-mobile-nav-bg-hover-color: #6B5A52;
    --main-mobile-footer-border-color: #DCD8D6;
    --main-mobile-nav-links-border-color: #DCD8D6;
    --main-mobile-nav-links-color: #DCD8D6;
    --main-box-shadow-color: #DCD8D6;
		--main-char-count-color: #DCD8D6;
}

.colors {
    color: #E8D29C;
    color: #4F3928;
    color: #6B5A52;
    color: #EFA249;
    color: #DCD8D6;
}

* {
    box-sizing: border-box;
}

body {
	background-color: #4F3928;
}

h2 {
    font-family: Raleway;
}

.servicesTitle {
    font-family: Raleway;
}

header {
    position: relative;
    padding: 0px;

}

nav {
    position: relative;
    float: left;
    width: 100%;
    padding: 1px;
    background-color: var(--main-nav-color);
    margin-top: 0px;
    margin-bottom: 0px;
    height: 70px;
    z-index: 10;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li h2 {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
    display: inline;
    font-family: Raleway;
}

.hamburgerIcon {
    position: absolute;
    right: 20px;
    top: 0px;
    color: var(--main-hamburger-color);
    display: none;
}

 .logo {
     position: absolute;
     left: 20px;
     top: 10px;
     z-index: 100;
     border: none;
     color: var(--main-logo-color);
 }

 .logo img {
     height: 50px;
     width: auto;
 }

nav ul li{
    margin-top: 10px;
    display: inline;
}

nav ul li a {
    font-family: Raleway;
    text-decoration: none;
    color: var(--main-nav-links-color);
    height: 70px;
    padding: 20px;
}

nav ul li a:hover {
    color: var(--main-nav-links-hover-color);
}

.jumbotron{
    position: relative;
    background-image: url("images/jumbotron_lg.jpg");
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* The image used */
.mobileJumbotronSVG {
    display: none;
}

.jumbotronOverlay {
    position: absolute;
    top:70px;
    left:0;
    width: 100%;
    height: 530px;
    background-color: rgba(0,0,0,.4);
}

.jumbotron img{
    width: 100%;
    height: auto;
}

.servicesSection {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.servicesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.services {
    color: var(--main-services-color);
    text-shadow: 1px 1px 2px #000;
    letter-spacing:1px;
    background-color: var(--main-services-bg-color);
    border: 1px solid var(--main-services-border-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    height: 300px;
    flex: 0 1 100%;
}

.svgIcon {
    height: 150px;
}

.websiteImages {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
}

.imagesContainer {
    display: inline-block;
    float: left;
    height: 300px;
    width: 50%;
}

.projects {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.websiteImages {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 100px;
}

.websiteImages a img{
    display: inline-block;
    height: 300px;
}

.operatingHours {
    border-right: 1px solid var(--main-operating-hours-border);
    border-left: 1px solid var(--main-operating-hours-border);
    margin-right: 30px;
    text-align: left;
    padding-left: 20%;
}

.operatingHours h3{
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .contactInfo, footer .hoursContainer, footer .socialMediaLinks {
    display: inline-block;
    font-size: 20px;
    font-family: Raleway;
    padding: 10px;
    color: var(--main-footer-text-color);
    text-align: center;
    flex-grow: 1;
}

.footer {
    background-color: var(--main-footer-bg-color);
    padding: 10px;
}

i {
    font-size: 3em;
}

i.fa-google-plus-square {
    color: var(--main-footer-icon-color);
}

i.fa-facebook-square {
    color: var(--main-footer-icon-color);
}

i.fa-twitter-square {
    color: var(--main-footer-icon-color);
}

.horizontalLine {
    display: inline-block;
    height: 1px;
    width: 100px;
    border-top: 1px solid var(--main-horizontal-line-color);
    padding-bottom: 5px;
}

.servicesTitle, .projectsTitle, .aboutTitle, .contactTitle{
    display: inline-block;
    border: 1px solid var(--main-title-color);
    border-radius: 50px;
    -webkit-box-shadow:  2px 2px 0px var(--main-box-shadow-color), -2px -2px 0px var(--main-box-shadow-color);
    -moz-box-shadow:  2px 2px 0px var(--main-box-shadow-color), -2px -2px 0px var(--main-box-shadow-color);
    box-shadow:  2px 2px 0px var(--main-box-shadow-color), -2px -2px 0px var(--main-box-shadow-color);
    padding: 20px;
}

.aboutContainer {
    text-align: center;
    margin-bottom: 50px;
}

.icons img{
    height: 50px !important;
}

#contact {
    margin-bottom: 50px;
}

.mainContactContainer {
    text-align: center;
    margin-bottom: 50px;
}

.about {
    position: relative;

}

.aboutContainer {
    position:relative;
    display: block;

}

.aboutMeContainer {
    width: 70%;
    display: flex;
    color: var(--main-about-me-text-color);
    text-shadow: 1px 1px 2px #000;
    letter-spacing: 1px;
    background-color: var(--main-about-me-color);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}


.aboutMeContainer img {
    margin-top: 20px;
    margin-left: 20px;
    height: 300px;
    width: auto;
}

.aboutContent {
    padding: 20px;
}


.aboutContent p {
    display: inline;
    font-size: 1.5em;
}

.aboutContent p strong {
    color: var(--main-strong-color);
}

.title {
    color: var(--main-title-color);
    background-color: var(--main-title-bg-color);
}

.formContainer {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 300px;
    margin: auto;
    padding: 40px;
    text-align: left;
    background-color: var(--main-form-container-bg-color);
}
.textarea {
	position: relative;
}
.characterCount {
	position: absolute;
	right: 20px;
	bottom: 0px;
	color: var(--main-char-count-color)
}

#name, #comment, #email, #phone {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Raleway;
    color: var(--main-form-fields-color);
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    border: 2px solid var(--main-form-fields-border-color);
}

#name, #email, #phone {
    height: 40px;
}

#comment {
    height: 100px;
}

.formName, .formEmail, .formComment, .formPhone {
    font-family: Raleway;
    font-size: 20px;
}

.formSubmit {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--main-submit-border-color);
    background-color: var(--main-submit-button-bg-color);
    color: var(--main-submit-button-color);
}

.formSubmit:hover {
    background-color: var(--main-submit-hover-bg-color);
    color: var(--main-submit-hover-color);
}

.contactMessage .message {
    color: var(--main-contact-form-message-color);
    font-size: 28px;
    font-family:Raleway;
}

.contactContainer {
    margin: auto;
    position: relative;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width: 600px;
    height: 400px;
}

#map {
    position: absolute;
    left: 300px;
    width: 300px;
    height: 100%;
    display: inline-block;
    margin-bottom: 0px;
}

/*animation for titles*/
.flip {
    transition: transform 1.5s;
    transform: rotateX(360deg);
}

.pageUp {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.pageUp i{
    color: var(--main-pageup-icon-color);
}

.message {
    animation: slide-up 0.4s ease;
}

@keyframes slide-up {
     0% {
         opacity: 0;
         transform: translateY(20px);
     }
     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
     0% {
         height: 0px;
     }

     100% {
         height: 350px;
     }
 }

@keyframes slide-up {
    0% {
        height: 100%;
    }

    100% {
        height: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) and (max-width: 992px) {

    .imgContainer {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .icons {
        display: flex;
    }

    .mobileJumbotronSVG {
        display: inline-block;
    }

    .aboutMeContainer {
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .aboutMeContainer img {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius:10px;
        width: 250px;
        height: auto;
        margin: auto;
        margin-top: 50px;
    }

    #footerMap {
        height: 200px;
        width: 100%;
    }

    .hamburgerIcon:first-child {
        margin-top: 0px;
    }

    .hamburgerIcon {
        margin-top: 5px;
        display: block;
        padding: 5px;
        background-color: var(--main-hamburger-icon-bg-color);
        border-radius: 5px;
    }

    .hamburgerIcon i {
        font-size: 50px;
    }

    nav ul{
        position: relative;
        display: block;
        overflow: hidden;
        background-color: var(--mian-mobile-nav-bg-color);
        margin-top: 60px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .hideNav {
        opacity: 0;
    }

    .showNav {
        display: block;
        right: 0;
        animation: slide-down 0.4s ease;
    }

    .title {
	      font-size: 2em;
    }

    .mainContactContainer {
	      margin-top: 100px;
    }

    nav ul li a {
        display: inline-block;
        width: 100%;
	      font-size: 1.5em;
        border-top: 1px solid var(--main-mobile-nav-links-border-color);
        color: var(--main-mobile-nav-links-color);
    }

    nav ul li a:hover {
        background-color: var(--mian-mobile-nav-bg-hover-color);
    }

    .indexLink {
        border: none;
    }

    .servicesContainer {
        flex-direction: column;
    }

    .services {
        margin-top: 50px;
    }

    p.servicesContent {
	    font-size: 1.5em;
    }

    .imagesContainer {
        width: 100%;
        margin-top: 50px;
    }

    .contactContainer {
        margin: auto;
        position: relative;
        border:none;
        width: 204px;
        height: 400px;
    }

    .aboutContent p {
	      font-size: 1.5em;
    }
    #map {
        display: none;
    }

    .footer {
        display: block;
        position: relative;
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactInfo address, .operatingHours {
	      font-size: 1.5em;
    }

    .phoneNumber {
	      font-size: 1.5em;
    }

    .operatingHours {
        width: 100%;
        border-right: none;
        border-left:  none;
        border-top: 2px solid var(--main-mobile-footer-border-color);
        border-bottom: 2px solid var(--main-mobile-footer-border-color);
        padding: 20px;
        text-align: center;
    }

    .formContainer {
        width: 100%;
    }

    .contactContainer {
        position: relative;
        width: 80%;
    }

    .jumbotronContainer {
        position: relative;
    }

    .mobileJumbotronSVG {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .jumbotron{
        background-image: none;
        height: 400px;
    }

    .jumbotronOverlay {
        height: 0px;
    }

		.pageUp {
			bottom: 40px;
			right: 10px;
		}

    .pageUp i {
	    font-size: 5em;
    }
}